/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* #endregion common */


/* #region debug */
.debug, .debug *{
    border: 1px dashed black;
}

/* header */
.debug header {
    background-color: #add8e6;
    height: 50px;
}

.debug header .container {
    background-color: #daa520;
    height: 70%;
}

.debug .logo:before {
    content: "logo";
}

.debug nav::before {
    content: "link link link link link";
}

.debug .login::before {
    content: "login";
}

/* main */
.debug .banner_top {
    height: 300px;
    background-color: #00008b;
}

.debug .banner_top .container {
    height: 70%;
    background-color: #ee82ee;
}

.debug .info_section {
    height: 400px;
    background-color: white;
}

.debug .info_section .container {
    height: 70%;
}

.debug .info_section .info_big {
    background-color: #1e90ff;
}

.debug .info_section .info_small {
    background-color: #ffc0cb;
}

.debug .info_section#info2 {
    background-color: #d3d3d3;
}

.debug .banner_bottom {
    height: 500px;
    background-color: #d3d3d3;
}

.debug .banner_bottom .container {
    height: 90%;
    background-color: #228b22;
}

/* footer */
.debug .footer_top {
    height: 400px;
    background-color: #23272a;
}

.debug .footer_top .container {
    height: 90%;
}

.debug .footer_top .footer_small {
    border: 1px dashed white;
}

/* #endregion debug */


/* #region utilities */
.flex-container {
    display: flex;
}

.container {
    width: 70%;
    margin: auto;
}

/* #endregion utilities */


/* #region header */
.logo {
    width: 25%;
    padding-left: 0.5rem;
    justify-content: start;
    align-items: center;
}

nav {
    width: 50%;
    justify-content: center;
    align-items: center;
}

.login {
    width: 25%;
    padding-right: 0.5rem;
    justify-content: end;
    align-items: center;
}
/* #endregion header */


/* #region main */
.banner_top .container {
    width: 50%;
}

.info_big {
    width: 60%;
}

.info_small {
    width: 40%;
}
/* #endregion main */

/* #region footer */
.footer_top .container {
    margin-top: 0.5%;
}

.footer_top .footer_big {
    width: calc(100% / 6 *2);
    background-color: #f08080;
}

.footer_top .footer_small {
    width: calc(100% / 6);
    background-color: #20b2aa;
}
/* #endregion footer*/ 