/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* #endregion common */


/* #region debug */

/* #endregion debug */


/* #region utilities */


/* #endregion utilities */


/* #region header */


/* #endregion header */
